.nav {
    display: flex;
    align-items: center;
    gap: 5rem;
    text-decoration: none;
  
    
    position: relative; 
  }
  
  
  .mobile-menu {
    display: flex; 
    flex-direction: column; 
    position: absolute; 
    top: 100%; 
    right: 0; 
    background-color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 1rem; 
    z-index: 1000; 
  

  }
  

  .app-nav-link {
    padding: 0.5rem 1rem; 
    text-decoration: none; 
    color: #333; 
    transition: background-color 0.3s; 
  
    &:hover {
      background-color: #f0f0f0;
      cursor: pointer;
    }
  }

.close__hamburguer, .hamburguer {
    font-size: 2rem;
}