<div class="wrapper">
    <div class="wrapper__product--information">
        <h2>Product Information</h2>
    </div>

    <div>
        <app-card-product-details
            [props]="cardProductDetails"
        ></app-card-product-details>
    </div>

    <div>
        <h2>Technical Specifications</h2>
    </div>

    <div *ngIf="productAttributes?.length" class="product__attributes">
        <div *ngFor="let attribute of productAttributes">
            <p>{{ attribute.valueAttribute }}</p>
        </div>
    </div>

    <div class="wrapper__other-products">
        <h2>Other Products</h2>
    </div>
    <div class="wrapper card__products">
        <app-card-product 
            *ngFor="let product of productsList()" 
            [props]="product" 
        ></app-card-product>
    </div>
</div>