input{
    width: 90%;
    height: 3vh;
    font-family: "Poppins", sans-serif;
}

textarea{
    width: 90%;
    min-height: 10vh;
    max-height: 20vh;
    resize: vertical;
    font-family: "Poppins", sans-serif;
}