.wrapper {
    display: flex;
    flex-direction: column;
    gap: 3.5rem; 
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 2rem; 
    
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 16px; 
    flex-wrap: nowrap;
}

