.wrapper {
    display: flex;
    flex-direction: column;
    gap: 3.5rem; // Espacio entre el label y el input, pero dentro de la misma unidad
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; // Espacio entre label e input
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 2rem; // Espacio entre cada form-field
    
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 16px; /* Ajusta el espacio entre los botones */
    flex-wrap: nowrap; /* Evita que se apilen */
}

