<section class="dropdown" [formControl]="formControl" ngDefaultControl>
    <app-button [props]="changeStateDropdownButtonProps" (click)="changeDropdownState()" class="btn__dropdown"></app-button>
    
    <div class="container__ul--li" *ngIf="changeStateDropdown">
        <ul *ngIf="filteredItems.length > 0 && activateDropdown" class="dropdown__list">
            <li
                *ngFor="let item of filteredItems"
                class="dropdown__list--item"
                (click)="onSelectItem(item)"
            >
            {{ item[display] }}
            </li>
        </ul>
    </div>
    <div class="container__span--button" *ngIf="changeStateDropdown && selectedItems.length > 0">
        <span
            *ngFor="let item of selectedItems"
            class="dropdown__selected-item"
        >
            {{ item[display] }}
            <app-button
                [props]="btnDropdonProps"
                (click)="onRemoveItem(item)"
                class="btn__remove-item"
            ></app-button>
        </span>
    </div>
</section>